<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "WeChat1.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Jing Xu</h1>
    <p>Welcome all.</p>
    <p>I built a blog in Rails. It's just a demo application.</p>
    <p>If you'd like to follow along as I learn more Ruby on Rails, contact me via email <a href="#">jingxu921105@gmail.com</a>
      or on the facebook at <a href="#">jingxu</a>,
    </p>
  </div>
</div>