<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "WeChat1.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Jing Xu</h1>
    <p>Welcome all.</p>
    <p>I built a blog in Rails. You're actually on the demo application right now. Cool stuff, right!.</p>
    <p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="#">@jingjingjing</a>
      or on the web at <a href="#">mirrorjing</a>,
    </p>
  </div>
</div>